<!DOCTYPE html>
<html>
  <head>
    <title>注册</title>
   
    
  </head>
  <body>
 <div class="active">
 	
 	
 </div>
  		
  
  		
  		
  
		
  	<h1>商品的分类配置</h1>
  	<p><%- title %></p>
  	<p><%- con %></p>
  	
  	<p><%- price %></p>
  
  	</body>

<script type="text/javascript">
	$(function(){
		


	
		})
</script>

</html>
